<!DOCTYPE html>
<html>
  <head>
    <title>Russian Hack team</title>
  </head>
  <body>
    <div style="display:flex;"> 
      <div style="margin:auto;">
        <h1>Приветос, вы в генераторе случайных чисел</h2>
        <br>
        <p>Этот файл рендерится фласком, случайное число: <b>{{ random }}</b></p>
        <br>
        <p>Нажми <a href="/">сюда</a>, чтобы вернуться домой</p>
      </div>
    </div>
  </body>
  <footer>
      <div>
        Автор: <a href="https://okhlopkov.com">я</a>
      </div>
  </footer>
</html> 